{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} Карточка работника: {% endblock title %}</h1>
        <br>
        <p class="card-text">{{ worker.full_name }} | {{ worker.user }}</p>
        <p class="card-text"> Должность работника: {{ worker.work_post }} табельный № {{ worker.tabel_num }} </p>
        <p class="card-text"> Принят на работу: {{ worker.hired }} приказом {{ worker.order_num }} </p>
        <p class="card-text"> Маршрут {{ worker.trail }} </p>
        <a href="{% url 'add_worker' %}" class="btn btn-primary">Добавить работника(А надо изменить) &rarr;</a>

      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}